.select{
            outline: none;
            width: 120px;
            height: 29px;
            padding-bottom: 2px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            padding-left:5px;
			 font-size:medium;
			border-radius:4px;
			border:1px solid #c8cccf;
			color:#6a6f77;
        }

